<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title >Registrarse</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="div-content">

    <ion-card >
          <ion-card-content>
            <ion-item >
              <ion-label  position="floating">Nombres</ion-label>
              <ion-input type="string"></ion-input>
            </ion-item>
            <ion-item >
              <ion-label  position="floating">Apellidos</ion-label>
              <ion-input type="string" ></ion-input>
            </ion-item>
            <ion-item >
              <ion-label  position="floating">Edad</ion-label>
              <ion-input type="string"></ion-input>
            </ion-item>
            <ion-item >
              <ion-label  position="floating">Correo</ion-label>
              <ion-input type="string"></ion-input>
            </ion-item>
          <ion-button expand="full">Registrarme</ion-button>
        </ion-card-content>
      </ion-card>
    </div>
    <ion-button class="btn"  expand="block" href="home">Volver</ion-button>
    
  </ion-content>