@media (min-width: 768px){
.div-content{
    margin-left: 10rem;
    margin-right: 10rem;
    margin-top: 5rem;
    height: 30rem;
    padding-top: 5rem;
    align-items: center;
    width: 75%;
}
.btn{
    margin-left: 15rem;
        width: 50rem;
    }
}
